!!! Strict
%html{html_attrs}
  
  %head
    %title
      = h( "My <3 List - #{yield(:title)}")
    %meta{"http-equiv"=>"Content-Type", :content=>"text/html; charset=utf-8"}/
    = stylesheet_link_tag 'application'
    = yield(:head)
  
  %body

    #container
    
      #header
        .session
          - if logged_in?
            = "Welcome  #{current_user.username}"
            = link_to "Log out", logout_path
          - else
            = link_to "Sign up", signup_path
            or
            = link_to "log in", login_path

        .menu
          - if logged_in?
            = link_to "My Heart List", user_hearts_path(current_user)
            |
          = link_to "Global Heart List", hearts_path      

      #logo
        = image_tag "logo.jpg"
      
      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"

      - if show_title?
        %h1=h yield(:title)
      
      = yield
